.hero {
    padding: $quadpadding 0;

    .container {
        @include container;
        display: flex;
        align-items: center;
        gap: $quadpadding;

        @include respond-to('tablet') {
            flex-wrap: wrap;
            gap: $doublepadding;

            .left, .right {
                width: 100%;
                text-align: center;
            }
        }
    }
}