.videoCarousel {
    position: inherit !important;
    padding: $quadpadding 0;

    .container {
        @include container;

        .buttons {
            text-align: center;

            &.left {
                text-align: left;
            }
        }

        .slide .thumbnail {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 15px;
            }

            svg {
                position: absolute;
                max-width: 50px;
                max-height: 50px;
            }
        }
    }

    .video-slider {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .slick-list {
            max-width: calc(100% - 92px);
            margin: 0 -20px;

            .slick-slide {
                margin: 0 20px;
            }
        }
    }

    .popup {
        position:fixed;
        left: 50%;
        top: 50%;
        -ms-transform: translate(-50%,-50%);
        -moz-transform:translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 2;

        .loading {
            position: absolute;
            z-index: 1;
            width: 50px;
            height: 50px;
        }

        &.active {
            display: flex;
        }

        .close {
            margin-left: auto;
            cursor: pointer;
            position: relative;
            width: 34px;
            height: 34px;
        }

        .content {
            z-index: 2;
            max-width: 90%;

            iframe {
                max-width: 100%;
            }
        }
    }

    .st0{fill:none;}
    .st1{fill:$white;}
    .st2{fill:$darkgray;}
}