.accordion {
    padding: $quadpadding 0;
    
    .container {
        @include container;

        .accordionItems {

            .accordionItem {
                background: $white;
                box-shadow: 3px 3px 12px rgba(0,0,0,0.1);
                margin-bottom: $midpadding;

                .accordionTitle {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 32px;
                    letter-spacing: 0.2px;
                    padding: $padding;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: $transition;

                    &:hover {
                        color: $red;
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        background: url(img/plus.svg);
                        width: 25px;
                        height: 25px;
                        margin-right: $padding;
                        transition: $transition;
                    }

                    &.active::before {
                        background: url(img/minus.svg);
                    }
                }

                .accordionCopy {
                    display: none;
                    padding: $padding $padding $padding calc(#{$doublepadding} + 25px);

                    p:first-of-type {
                        margin-top: 0;
                    }

                    ::marker {
                        color: $red;
                    }
                }
            }
        }
    }
}