.blurbs {
    padding: $quadpadding 0;

    .container {
        @include container;
        max-width: $smallsize;

        .intro {
            color: $black;
            font-size: 15px;
            line-height: 34px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-weight: 600;
            font-family: $font;
            margin-bottom: $triplepadding;
        }

        .boxes {
            display: flex;
            gap: $triplepadding;
            justify-content: center;

            .blurb {
                min-width: calc(25% - #{$doublepadding});
                max-width: calc(30% - #{$doublepadding});

                img {
                    max-height: 45px;
                    width: auto;
                    margin-bottom: calc(0px - #{$midpadding});
                }

                hr {
                    width: 40px;
                    height: 4px;
                    background: $red;
                    border: none;
                    margin: 0;
                }

                h5 {
                    margin: $doublepadding 0 $padding;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.4px;
                }

                ul, ol {
                    padding: 0 0 0 20px;

                    li:not(:last-of-type) {
                        margin-bottom: $padding;
                    }
                }

                a {
                    color: $red;

                    &:hover {
                        color: $red;
                    }
                }
            }

            @include respond-to('tablet') {
                flex-wrap: wrap;

                .blurb {
                    width: calc(50% - #{$doublepadding});
                    min-width: unset;
                    max-width: unset;
                }
            }

            @include respond-to('mobile') {
                .blurb {
                    width: calc(100%);
                }
            }
        }
    }
}