.comparison {
    padding: $quadpadding 0;

    .container {
        @include container;
        max-width: $smallsize;

        .intro {
            max-width: 600px;
            padding-bottom: $doublepadding;
        }

        .comparisonTable {
            display: flex;
            gap: $triplepadding;
            justify-content: center;

            @include respond-to('tablet') {
                flex-wrap: wrap;
            }

            .tableItem {
                width: 33.3333%;
                background: $white;
                box-shadow: 4px 4px 16px rgba(0,0,0,0.1);
                display: flex;
                flex-direction: column;

                @include respond-to('tablet') {
                    width: calc(50% - #{$quadpadding});
                }

                @include respond-to('mobile') {
                    width: 100%;
                }

                .heading {
                    background: $lightgray;
                    padding: $padding $doublepadding;
                    min-height: calc(100px - #{$doublepadding});
                    border-top: $red 6px solid;

                    h3 {
                        margin: 0;
                        max-width: 80%;
                    }
                }

                &.flagged .heading {
                    position: relative;

                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 32px;
                        height: 46px;
                        background: $red;
                        mask-image: url(img/banner.svg);
                        -webkit-mask-image: url(img/banner.svg);
                        mask-size: cover;
                        -webkit-mask-size: cover;
                        top: 0;
                        right: $padding;
                    }
                }

                &:first-of-type {
                    .heading {
                        border-color: $red;

                        &::after {
                            background: $red;
                        }
                    }
                }

                &:nth-child(3) {
                    .heading {
                        border-color: $red;

                        &::after {
                            background: $red;
                        }
                    }
                }

                .content {
                    display: flex;
                    height: 100%;
                    flex-direction: column;

                    .tableItems {
                        padding: $padding $doublepadding;

                        .item {
                            padding: $padding 0;

                            &.small {
                                font-size: 16px;
                                color: $black;
                                line-height: 26px;
                                letter-spacing: 0.32px;
                            }

                            span {
                                display: block;
                                font-size: 20px;
                                line-height: 26px;
                                letter-spacing: 0.4px;
                                color: $black;
                                font-weight: 500;
                            }

                            &:not(:last-of-type) {
                                border-bottom: $lightgray 1px solid;
                            }
                        }
                    }

                    .cta {
                        margin-top: auto;
                        padding: $padding $doublepadding $doublepadding;
                    }
                }
            }
        }
    }

    .disclaimer {
        margin-top: -100px;
        padding: calc(100px + #{$doublepadding}) 0 $doublepadding;
        background: rgba(0,0,0,0.1);
        text-align: center;
        font-size: 16px;
        line-height: 21px;
        letter-spacing: 0.32px;
        font-style: italic;

        p {
            max-width: 700px;
            margin: $padding auto;
        }
    }
}