section.cta:not(.hero) {
    border-top: $red 6px solid;

    .container {
        @include container;
        display: flex;
        gap: calc(#{$quadpadding} * 2);
        align-items: center;

        .left, .right {
            width: 50%;
        }

        .left {
            padding: $quadpadding 0;
            max-width: 470px;

            h2 {
                margin-top: 0;
            }

            p {
                line-height: 26px;
            }

            .buttons {
                display: flex;
                margin-top: $doublepadding;
                gap: $midpadding;

                .button.secondary {
                    color: $red;
                    background: transparent;
                    border: none;
                    padding: 0;
                    font-weight: bold;
                    font-size: 18px;
                    letter-spacing: 0.4px;
                    line-height: 26px;
                    border-radius: 0;
                    margin-top: 5px;

                    span::after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 0;
                        transition: $transition;
                    }

                    &:hover span::after {
                        width: 100%;
                        background: $red;
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            max-width: 50%;
            margin-left: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        @include respond-to('tablet') {
            flex-direction: column;
            gap: 0px;

            .left {
                width: 100%;
                max-width: 100%;
            }

            .right {
                max-width: calc(100% + #{$doublepadding});
                width: calc(100% + #{$doublepadding});
                margin-left: 0;
                padding-bottom: $quadpadding;

                &::before {
                    display: none;
                }
            }
        }
    }

    &.notop .left {
        padding-top: 0;
    }

    &.nobottom .left {
        padding-bottom: 0;
    }
}