.split {
    padding: $quadpadding 0;

    .container {
        @include container;
        display: flex;
        gap: $quadpadding;

        .left, .right {
            width: 50%;

            &.top {
                align-self: flex-start;
            }
            &.center {
                align-self: center;
            }
            &.bottom {
                align-self: flex-end;
            }

            .buttons {
                margin-top: $doublepadding;
            }

            &.image, &.video {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-width: 100%;
                    height: auto;
                    display: block;
                }

                iframe {
                    max-width: 100%;
                }
            }
        }

        @include respond-to('tablet') {
            flex-direction: column;
            gap: $doublepadding;

            .left, .right {
                width: 100%;
            }
        }
    }
}