/* =======================================
   SIZES
   ======================================= */
   
   $defaultsize: 1200px;
   $smallsize: 1050px;
   $padding: 16px;
   $halfpadding: calc(#{$padding} / 2);
   $midpadding: calc(#{$padding} * 1.5);
   $doublepadding: calc(#{$padding} * 2);
   $triplepadding: calc(#{$padding} * 3);
   $quadpadding: calc(#{$padding} * 4);
   $sectionpadding: 10vh;
   $breakpoints: (
      'mid': 1500px,
      'small': 1390px,
      'tablet': 1120px,
      'med': 800px,
      'mobile': 600px
   ) !default;
   
   
   @mixin respond-to($breakpoint) {
     // If the key exists in the map
     @if map-has-key($breakpoints, $breakpoint) {
       // Prints a media query based on the value
       @media (max-width: map-get($breakpoints, $breakpoint)) {
         @content;
       }
     }
     
     // If the key doesn't exist in the map
     @else {
       @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
           + "Available breakpoints are: #{map-keys($breakpoints)}.";
     }
   }