footer {
    background: $white;

    a {
        color: $black;
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
            color: $darkgray;
        }
    }

    .container {
        @include container;

        h3 {
            font-size: 20px;
            line-height: 22px;
            margin: 0 0 $halfpadding;
        }

        .top {
            width: 100%;
            padding: $triplepadding 0;
            
            .container {
                display: flex;
                gap: $triplepadding;
                align-items: flex-end;

                .column:nth-child(2) {
                    flex-grow: 1;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    gap: $padding;
                    justify-content: center;
                }

                ul {
                    list-style: none;
                }
            }
        }
    }

    .bottom {
        background: $lightgray;

        .container {
            @include container;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .menu-policy-menu-container {
                margin-left: auto;

                .menu {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: $triplepadding;
                    flex-wrap: wrap;

                    @include respond-to('tablet') {
                        gap: $doublepadding;
                        margin: $doublepadding 0;
                    }

                    li {
                        display: inline-block;

                        a {
                            color: $black;

                            &:hover {
                                color: $darkgray;
                            }
                        }
                    }
                }
            }

            .copy-disclaimer {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.7px;

                @include respond-to('tablet') {
                    margin-bottom: $doublepadding;
                }
            }
        }
    }
}