header {
    z-index: 999;
    width: 100%;
    top: 0;
    position: relative;
    background: $lightgray;

    .top {
        background: $gray;

        .container {
            @include container;
            padding: $halfpadding $padding;
            display: flex;
            align-items: center;

            .menu-top-menu-container {
                margin-left: auto;

                .menu {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    text-align: right;

                    li {
                        display: inline-block;
                        padding: $halfpadding;
                        line-height: 14px;

                        &:first-of-type {
                            padding-left: 0;
                        }

                        &:last-of-type {
                            padding-right: 0;
                        }
                    }
                }
            }

            a {
                color: $black;
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                text-decoration: none;
                transition: $transition;
                font-weight: bold;

                &:hover {
                    color: $darkgray;
                }
            }
        }

        @include respond-to('tablet') {
            display: none;
        }
    }

    .main {
        .container {
            @include container;
            padding: 0 $padding;
            display: flex;
            align-items: center;

            .logo {
                padding: $padding 0;

                img {
                    display: block;
                }
            }

            #main-menu {
                margin-left: auto;
                display: flex;
                align-items: center;

                .menu {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    li {
                        display: inline-block;
                        padding: $padding;
                        position: relative;

                        &:first-of-type {
                            padding-left: 0;
                        }

                        &:last-of-type {
                            padding-right: 0;
                        }

                        a {
                            color: $black;
                            font-size: 20px;
                            line-height: 26px;
                            text-decoration: none;
                            transition: $transition;
                            font-weight: bold;

                            &:hover {
                                color: $darkgray;
                            }
                        }
                        
                        .sub-menu {
                            display: none;
                            position: absolute;
                            top: 100%;
                            background: $lightgray;
                            padding: $halfpadding $padding;
                            width: 100vw;
                            max-width: 250px;
                            margin-left: calc(0px - #{$padding});
							
							li {
								padding: $halfpadding;
                                display: block;
								
								a {
									text-transform: none;
                                    font-size: 18px;
                                    line-height: 26px;
                                    display: block;
								}
							}
                        }

                        &:hover {
                            .sub-menu {
                                display: block;
                            }
                        }
                    }
                }

                .search {
                    position: relative;

                    @include respond-to('tablet') {
                        display: none;
                    }

                    #searchButton {
                        display: block;
                        transition: $transition;
                        margin-left: $doublepadding;
                    }

                    #searchform {
                        background: $darkgray;
                        position: absolute;
                        width: 400px;
                        right: 0;
                        top: calc(100% + #{$padding});
                        padding: $padding $padding;
                        opacity: 0;
                        visibility: hidden;
                        transition: $transition;

                        div {
                            @include container;
                            display: flex;

                            input[type=search] {
                                width: 100%;
                                background: $white url(../img/search.svg) no-repeat 20px 12px;
                                border: none;
                                padding: $halfpadding $halfpadding $halfpadding 50px;
                                font-size: 17px;
                                line-height: 22px;
                                letter-spacing: 0.34px;
                                font-family: $fontbody;
                                font-weight: 400;
                            }

                            input[type=submit] {
                                background: $white;
                                border: none;
                                margin-left: $halfpadding;
                                padding: $halfpadding $padding;
                                font-weight: bold;
                                text-transform: uppercase;
                                cursor: pointer;
                            }
                        }

                        &.active {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                @include respond-to('tablet') {
                    display: none;
                }
            }
        }
    }

    #mobile-toggle {
        display: none;
        z-index: 999;
        margin-left: auto;

        a {
            position: relative;
            display: block;
            width: 30px;
            height: 26px;

            span {
                visibility: hidden;
                transition: $transition;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 30px;
                height: 26px;
    
                &.active {
                    visibility: visible;
                    opacity: 1;
                }
    
                img {
                    display: inline-block;
                }
            }
        }

        @include respond-to('tablet') {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    #mobile-menu {
        visibility: hidden;
        z-index: -1;
        position: absolute;
        left: 0;
        width: calc(340px - #{$doublepadding});
        background: $white;
        padding: $padding;
        opacity: 0;
        transition: $transition;
        height: calc(100vh - 100% - #{$doublepadding});
        top: 100%;
        overflow-y: auto;

        .searchform {
            input[type=submit] {
                display: none;
            }

            input[type=search] {
                width: 100%;
                background: $white url(../img/search.svg) no-repeat;
                background-position: 20px 10px;
                padding: $halfpadding $halfpadding $halfpadding 50px;
                font-size: 17px;
                line-height: 22px;
                letter-spacing: 0.34px;
                color: $white;
                font-weight: 400;
                font-family: $fontbody;
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
            z-index: 900;
        }

        ul {
            padding: 0;
            margin: $padding 0 0;

            li {
                list-style: none;
                display: flex;
                align-items: center;

                .sub-menu {
                    display: none;
                }

                &.menu-item-has-children::after {
                    content: "";
                    display: inline-block;
                    width: 8px;
                    height: 14px;
                    background: url(../img/chevron.svg) no-repeat center/contain;
                    margin-left: auto;
                }

                a {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 20px;
                    color: $black;
                    padding: $padding 0;
                    display: block;
                    flex-grow: 1;
                    text-decoration: none;
                    letter-spacing: 0.4px;
                }

                &.hidden {
                    display: none;
                }

                &.expanded {
                    flex-wrap: wrap;
                    border: none;

                    &::after {
                        display: none;
                    }

                    a {
                        padding: $padding;
                        margin: 0 calc(0px - #{$padding}) calc(0px - #{$padding});

                        &::after {
                            display: none;
                        }

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 8px;
                            height: 14px;
                            background: url(../img/chevron.svg) no-repeat center/contain;
                            margin-right: $padding;
                            transform: rotate(180deg);
                        }
                    }

                    .sub-menu {
                        display: block;
                        width: 100%;

                        li {
                            border-top: none;

                            &::after {
                                display: none;
                            }

                            a {
                                text-transform: none !important;
                                font-weight: 400;
                                display: flex;
                                align-items: center;
                                padding: $padding 0;
                                background: transparent;
                                margin: 0;
                                border-bottom: none;

                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#alert {
    display: none;

    &.visible {
        display: block;
        background: $darkgray;
        color: $white;
        z-index:1;
    }

    .container {
        @include container;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $halfpadding $triplepadding $halfpadding $padding;
        position: relative;
        max-width: calc(#{$defaultsize} - #{$doublepadding});

        .copy {
            margin: 0 $padding;

            p {
                margin: 0;
                line-height: 28px;
                text-transform: uppercase;

                a {
                    color: $white;
                    text-transform: none;
                    font-weight: 600;
                }
            }
        }

        #noticeClose {
            position: absolute;
            right: 0;
            cursor: pointer;
            margin-right: $padding;
        }
    }
}