header {
    z-index: 999;
    width: 100%;
    top: 0;
    position: relative;
    background: $lightgray;

    .top {
        background: $gray;

        .container {
            @include container;
            padding: $halfpadding $padding;
            display: flex;
            align-items: center;

            .menu-top-menu-container {
                margin-left: auto;

                .menu {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    text-align: right;

                    li {
                        display: inline-block;
                        padding: $halfpadding;
                        line-height: 14px;

                        &:first-of-type {
                            padding-left: 0;
                        }

                        &:last-of-type {
                            padding-right: 0;
                        }
                    }
                }
            }

            a {
                color: $black;
                font-size: 16px;
                line-height: 16px;
                text-transform: uppercase;
                text-decoration: none;
                transition: $transition;
                font-weight: bold;

                &:hover {
                    color: $darkgray;
                }
            }
        }

        @include respond-to('tablet') {
            display: none;
        }
    }

    .main {
        padding: $padding 0 0;

        @include respond-to('tablet') {
            padding: $halfpadding 0;
        }

        .container {
            @include container;
            display: flex;
            align-items: flex-end;

            @include respond-to('tablet') {
                align-items: center;
            }

            .logo {
                margin: 0 $doublepadding $padding 0;

                @include respond-to('tablet') {
                    margin: 0 0 0 auto;
                    flex-grow: 1;
                    text-align: right;
                    
                    img {
                        max-width: 130px;
                        height: auto;
                    }
                }
            }

            #main-menu {
                margin-left: auto;
                display: flex;
                background: transparent;
                position: unset;

                .mega-menu-wrap {
                    position: unset;
                    background: transparent;

                    @include respond-to('tablet') {
                        display: none;
                    }
                }

                #mega-menu-main-menu {
                    padding: 0;
                    list-style: none;
                    position: unset;

                    li {
                        display: inline-block;
                        margin: 0 $midpadding !important;
                        position: unset;

                        &.mega-current-page-ancestor a.mega-menu-link, &.mega-current-menu-ancestor:first-of-type a.mega-menu-link {
                            font-size: 20px;
                            line-height: 28px;
                            text-decoration: none;
                            padding: 0;
                            color: $darkgray;
                            border-bottom: $darkgray 4px solid;
                        }

                        a {
                            background: transparent !important;
                            color: $darkgray;
                            font-size: 20px;
                            line-height: 26px;
                            font-weight: 600;
                            text-decoration: none;
                            padding: 0 0 $triplepadding !important;
                            border-bottom: transparent 4px solid;
                            transition: $transition;

                            &:hover, &[aria-expanded=true] {
                                border-bottom: $darkgray 4px solid !important;
                                background: transparent;
                            }

                            .mega-indicator {
                                display: none;
                            }
                        }

                        &.mega-mobileOnly {
                            display: none;
                        }

                        &.mega-toggle-on {
                            a {
                                background: transparent;
                            }

                            &.active .mega-sub-menu {
                                background: linear-gradient(90deg, $white 50%, $lightgray 50%);
                            }

                            .mega-sub-menu {
                                display: flex;
                                position: absolute;
                                left: 0;
                                width: 100%;
                                background: $white;
                                z-index: 999;
                                justify-content: center;
                                padding: 0;
                                box-shadow: 0px 16px 16px -8px rgba(0,0,0,0.1);

                                .mega-menu-row {
                                    @include container;
                                    padding: 0 $quadpadding;

                                    &.active {
                                        background: linear-gradient(90deg, $white 68%, $lightgray 68%);
                                    }

                                    .mega-sub-menu {
                                        display: flex;
                                        position: relative;
                                        padding: 0;
                                        gap: 150px;
                                        align-items: flex-start;
                                        justify-content: flex-start;
                                        background: transparent;
                                        box-shadow: none;

                                        li {
                                            padding: $quadpadding 0;
                                            margin: 0 !important;
                                            max-width: 260px;

                                            .mega-sub-menu {
                                                display: block;
                                            }

                                            li {
                                                padding: 0 !important;
                                                margin-bottom: $padding !important;
                                                max-width: 100%;
                                                cursor: pointer;

                                                a.mega-menu-link {
                                                    font-size: 20px;
                                                    line-height: 32px;
                                                    color: $darkgray !important;
                                                    text-transform: none;
                                                    padding: 0 !important;

                                                    &:hover, &:focus {
                                                        color: $black !important;
                                                    }
                                                }

                                                &:first-of-type a, &:first-of-type a:hover {
                                                    color: $darkgray !important;

                                                    &::after {
                                                        content: "";
                                                        display: inline-block;
                                                        background: transparent;
                                                        width: 6px;
                                                        height: 11px;
                                                        margin-left: 0px;
                                                        margin-bottom: 1px;
                                                        transition: $transition;
                                                    }
                                                }

                                                &:first-of-type a:hover::after {
                                                    background: url(img/chevron.svg);
                                                    margin-left: 20px;
                                                }

                                                &:last-of-type {
                                                    margin-bottom: 0;
                                                }

                                                .mega-sub-menu {
                                                    padding: 0;
                                                    display: block;
                                                    margin-top: 20px;

                                                    li {
                                                        margin-bottom: 10px !important;

                                                        a {
                                                            font-size: 18px;
                                                            font-weight: normal;
                                                        }
                                                    }
                                                }

                                                &.menucta, &.mega-menu-item-has-children {
                                                    a {
                                                        &::after {
                                                            content: "";
                                                            display: inline-block;
                                                            background: transparent;
                                                            width: 6px;
                                                            height: 11px;
                                                            margin-left: 0px;
                                                            margin-bottom: 1px;
                                                            transition: $transition;
                                                        }

                                                        &:hover, &:focus {

                                                            &::after {
                                                                background: url(img/chevron.svg);
                                                                margin-left: 20px;
                                                            }
                                                        }
                                                    }
                                                }

                                                &.menucta {
                                                    a {
                                                        color: $darkgray;

                                                        &:hover {
                                                            color: $darkgray;
                                                        }
                                                    }
                                                    
                                                    &.first {
                                                        border-top: $gray 1px solid;
                                                        padding-top: $padding !important;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .mega-menu-item-type-widget {
                        h4.mega-block-title {
                            display: none !important;
                        }

                        p {
                            font-size: 17px;
                            line-height: 24px;
                            color: $darkgray;
                        }

                        a {
                            background: $darkgray !important;
                            color: $darkgray !important;
                            font-size: 16px;
                            line-height: 22px;
                            display: inline-block;
                            padding: calc(#{$padding} - 4px) calc(#{$doublepadding} - 4px) !important;
                            border-radius: 100px;
                            border: $darkgray 2px solid !important;
                            transition: $transition;

                            &::after {
                                content: "";
                                display: inline-block;
                                width: 6px;
                                height: 11px;
                                background: url(img/chevron-dkblue.svg);
                                transition: $transition;
                                opacity: 0;
                                margin-left: -6px;
                            }

                            &:hover {
                                border: $darkgray 2px solid !important;
                                background: transparent !important;

                                &::after {
                                    margin-left: $padding;
                                    width: 6px;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                .search {
                    position: relative;

                    @include respond-to('tablet') {
                        display: none;
                    }

                    #searchButton {
                        padding: $padding $padding 24px;
                        margin-top: -10px;
                        display: block;
                        transition: $transition;
                        
                        &.active {
                            background: $white;
                        }
                    }

                    #searchform {
                        position: absolute;
                        width: calc(400px - #{$doublepadding});
                        right: 0;
                        top: 100%;
                        background: $white;
                        padding: $padding $padding;
                        opacity: 0;
                        visibility: hidden;
                        transition: $transition;

                        div {
                            @include container;
                            display: flex;

                            input[type=search] {
                                width: 100%;
                                background: $white url(img/search.svg) no-repeat;
                                background-position: 20px 10px;
                                border: $gray 1px solid;
                                border-radius: 21px;
                                padding: $halfpadding $halfpadding $halfpadding 50px;
                                font-size: 17px;
                                line-height: 22px;
                                color: $gray;
                                font-weight: 400 !important;
                            }

                            input[type=submit] {
                                background: url(img/go.svg);
                                width: 42px;
                                height: 42px;
                                color: transparent;
                                border: none;
                                margin-left: $halfpadding;
                                padding: 0;
                            }
                        }

                        &.active {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    #mobile-toggle {
        display: none;
        z-index: 999;
        margin-left: auto;

        a {
            position: relative;
            display: block;
            width: 30px;
            height: 26px;

            span {
                visibility: hidden;
                transition: $transition;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 30px;
                height: 26px;
    
                &.active {
                    visibility: visible;
                    opacity: 1;
                }
    
                img {
                    display: inline-block;
                }
            }
        }

        @include respond-to('tablet') {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    #mobile-menu {
        visibility: hidden;
        z-index: -1;
        position: absolute;
        left: 0;
        width: calc(340px - #{$doublepadding});
        background: $white;
        padding: $padding;
        opacity: 0;
        transition: $transition;
        height: calc(100vh - 100% - #{$doublepadding});
        top: 100%;
        overflow-y: auto;

        .searchform {
            input[type=submit] {
                display: none;
            }

            input[type=search] {
                width: 100%;
                background: $white url(../img/search.svg) no-repeat;
                background-position: 20px 10px;
                padding: $halfpadding $halfpadding $halfpadding 50px;
                font-size: 17px;
                line-height: 22px;
                letter-spacing: 0.34px;
                color: $white;
                font-weight: 400;
                font-family: $fontbody;
            }
        }

        &.active {
            visibility: visible;
            opacity: 1;
            z-index: 900;
        }

        ul {
            padding: 0;
            margin: $padding 0 0;

            li {
                list-style: none;
                display: flex;
                align-items: center;

                .sub-menu {
                    display: none;
                }

                &.menu-item-has-children::after {
                    content: "";
                    display: inline-block;
                    width: 8px;
                    height: 14px;
                    background: url(../img/chevron.svg) no-repeat center/contain;
                    margin-left: auto;
                }

                a {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 20px;
                    color: $black;
                    padding: $padding 0;
                    display: block;
                    flex-grow: 1;
                    text-decoration: none;
                    letter-spacing: 0.4px;
                }

                &.hidden {
                    display: none;
                }

                &.expanded {
                    flex-wrap: wrap;
                    border: none;

                    &::after {
                        display: none;
                    }

                    a {
                        padding: $padding;
                        margin: 0 calc(0px - #{$padding}) calc(0px - #{$padding});

                        &::after {
                            display: none;
                        }

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 8px;
                            height: 14px;
                            background: url(../img/chevron.svg) no-repeat center/contain;
                            margin-right: $padding;
                            transform: rotate(180deg);
                        }
                    }

                    .sub-menu {
                        display: block;
                        width: 100%;

                        li {
                            border-top: none;

                            &::after {
                                display: none;
                            }

                            a {
                                text-transform: none !important;
                                font-weight: 400;
                                display: flex;
                                align-items: center;
                                padding: $padding 0;
                                background: transparent;
                                margin: 0;
                                border-bottom: none;

                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#alert {
    display: none;

    &.visible {
        display: block;
        background: $darkgray;
        color: $white;
        z-index:1;
    }

    .container {
        @include container;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $halfpadding $triplepadding $halfpadding $padding;
        position: relative;
        max-width: calc(#{$defaultsize} - #{$doublepadding});

        .copy {
            margin: 0 $padding;

            p {
                margin: 0;
                line-height: 28px;
                text-transform: uppercase;

                a {
                    color: $white;
                    text-transform: none;
                    font-weight: 600;
                }
            }
        }

        #noticeClose {
            position: absolute;
            right: 0;
            cursor: pointer;
            margin-right: $padding;
        }
    }
}